* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}
  
h1{
    text-align: center;
}

.row{
  margin-bottom: 1%;
}

.col-2{
  text-align: right;
  position: relative;
  padding-right: 0;
}

label{
  position: absolute;
  right: 0px;
  bottom: -5%;
}

#descripcion{
  top: 0px;
}