<%- include('partials/header') %>
      
      <br>
      <!-- Titulo -->
      <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Carga de productos</h1>
        </div>
      </div>
      <br>
    <!-- Formulario -->
    <form action=”validar.php” method=”POST” class='container'> 

        <!-- Nombre -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for=”nombre” class='label-registro'> Nombre </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type=”text” name=”nombre” id=”nombre” class='form-control' placeholder="Producto">
            </div>
        </div>
        <br>
        <!-- Categoria -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                 <label for=”categoria” class='label-registro'> Categoria </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type=”text” name=”categoria” id=”categoria” class='form-control is-invalid' placeholder="Calzado">
            </div>
        </div>
        <br>
        <!-- Precio -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for=”precio” class='label-registro'> Precio </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type=”number” name=”precio” id=”precio” class='form-control is-valid' placeholder="100">
            </div>
        </div>
        <br>
        <!-- Stock inicial -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for=”stockIni” class='label-registro'> Stock inicial </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type=”number” name=”stockIni” id=”stockIni” class='form-control' placeholder="1">
            </div>
        </div>
        <br>
        <!-- Stock reposicion -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for=”stockRepo” class='label-registro'> Stock reposición </label>
            </div>
            <div class="col-9 col-lg-3">
                <input type=”number” name=”stockRepo” id=”stockRepo” class='form-control' placeholder="0">
            </div>
        </div>
        <br>
        <!-- Descripción -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
                <label for=”descripcion” class='label-registro' id='descripcion'> Descripción </label>
            </div>
            <div class="col-9 col-lg-3">
                <textarea name=”descripcion” class='form-control'></textarea>
            </div>
        </div>
        <br>
        <!-- Imagen -->
        <div class="row">
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
            <label for="image" class="label-registro">Imagen</label>
            </div>
            <div class="col-9 col-lg-5">
            <input type="file" class="form-control-file" id="image">
            </div>
          </div>
        <br>
        <!-- Boton -->
        <div class="row">
            <div class="col-12 col-lg-8 text-right">
                <button type=”submit” class='btn btn-success'> Enviar </button >
            </div>
        </div>
    </form>
    </div>
    <br>
    
<%- include('partials/footer') %>