<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carga Producto</title>
    <link rel="stylesheet" href="/css/carga.css">
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css integrity="sha384ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Carga de productos</h1>
    <form action=”validar.php” method=”POST” class='container'> 
        <p class='row'>
            <label for=”nombre” class='col-2'> Nombre </label>
            <input type=”text” name=”nombre” id=”nombre” class='col-10'>
        </p>
        <p class='row'>
            <label for=”categoria” class='col-2'> Categoria </label>
            <input type=”text” name=”categoria” id=”categoria” class='col-10'>
        </p>
        <p class='row'>
            <label for=”precio” class='col-2'> Precio </label>
            <input type=”number” name=”precio” id=”precio” class='col-10'>
        </p>
        <p class='row'>
            <label for=”stockIni” class='col-2'> Stock Inicial </label>
            <input type=”number” name=”stockIni” id=”stockIni” class='col-10'>
        </p>
        <p class='row'>
            <label for='stockRepo' class='col-2'> Stock Reposición </label>
            <input type='text' name='stockRepo' id='stockRepo' class='col-10'>
        </p>
        <p class='row'>
            <label for='descripcion' class='col-2'> Descripción </label>
            <textarea name=”descripcion” class='col-10'> </textarea>
        </p>
            <button type=”submit”> Agregar </button >
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>