<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del producto</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detalle.css">
    <script src="https://kit.fontawesome.com/e71094d6fb.js"></script>
  </head>
  <body>
    <header class="main-header">
      <!-- Logo -->
      <div class="logo">
        <a href="/index">
          <img
            src="https://via.placeholder.com/300x50"
            alt="Logo El Palenque"
          />
        </a>
      </div>
      <!-- Buscador -->
      <div class="buscador">
        <form>
          <input type="text" name="search" placeholder="Ando buscando..." />
          <input type="submit" name="submit" value="Buscar" class="btn" />
        </form>
      </div>

      <!-- Carrito -->
      <div class="cart-container">
        <button class="btn btn-secondary cart" type="button">
          <img src="/images/cart.png" alt="Carrito" />
        </button>
        <div class="cart-products">
            <div class="cart-product">
                <img src="https://via.placeholder.com/20" alt="Producto1"  />
                <div class="cart-product-info">
                    <span class="cantidad">1</span>
                    <p>Producto1</p>
                    <p>$50,00</p>
                    <p class="cambiar-cantidad">
                        <button>-</button>
                        <button>+</button>
                    </p>
                    <p class="cart-product-delete">
                        <button>Eliminar</button>
                    </p>
                </div>
            </div>

        </div>
      </div>
    </header>

    <nav class="container nav-menu">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Talabartería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Marroquinería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Platería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vestimenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calzado</a>
        </li>
      </ul>
    </nav>


    <img src="https://via.placeholder.com/250x500" alt="Imagen del producto" class="imgprod">
    
<div class="producto">
<h1> Nombre del producto</h1> <br>
<h5> Codigo del producto </h5><br>  
<h5> Descripción</h5> <br>
<h1> $000.000</h1> <br>
<img src="https://via.placeholder.com/250x100" alt="">
<h5> Cantidad</h5> <br>
<button>Comprar</button>
</div>

<div class="descripcion">Caracteristicas</div>

</body>
</html>
