<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/detalle.css">
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css integrity="sha384ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://kit.fontawesome.com/e71094d6fb.js"></script>
    <title>Detalle de producto</title>
</head>
<body>
    <header class="main-header">
        <!-- Logo -->
        <div class="logo">
          <a href="/index">
            <img
              src="https://via.placeholder.com/300x50"
              alt="Logo El Palenque"
            />
          </a>
        </div>
        <!-- Buscador -->
        <div class="buscador">
          <form>
            <input type="text" name="search" placeholder="Ando buscando..." />
            <input type="submit" name="submit" value="Buscar" class="btn" />
          </form>
        </div>
  
        <!-- Carrito -->
        <div class="cart-container">
          <button class="btn btn-secondary cart" type="button">
            <img src="/images/cart.png" alt="Carrito" />
          </button>
          <div class="cart-products">
              <div class="cart-product">
                  <img src="https://via.placeholder.com/20" alt="Producto1"  />
                  <div class="cart-product-info">
                      <span class="cantidad">1</span>
                      <p>Producto1</p>
                      <p>$50,00</p>
                      <p class="cambiar-cantidad">
                          <button>-</button>
                          <button>+</button>
                      </p>
                      <p class="cart-product-delete">
                          <button>Eliminar</button>
                      </p>
                  </div>
              </div>
  
          </div>
        </div>
      </header>





</body>
</html>