<%- include('partials/header') %>
<div class="container">
    ¿Cuáles son las formas de pago?

    PAGOS EN FORMA ONLINE O PRESENCIAL

    Tarjetas de crédito:  

    Débito sin recargo sobre el precio publicado
    1 cuota 3%+ sobre el precio publicado
    3 cuotas 20%+ sobre el precio publicado

    Entidades bancarias: Macro, Galicia, Santander, Credicoop, Supervielle, Frances, HSBC, ICBC, Santa Fe, Municipal, etc

    Transferencia o depósito bancario (Pesos). En todos estos casos se toma el mismo precio publicado en nuestra web

    Tarjetas de débito y crédito en 1 pago sin recargo adicional a través de Mercadopago QR

    ¿Los productos se encuentran en stock?
    Sí, todos los productos publicados se encuentran en existencia en nuestro local (Salvo los que indican «INGRESANDO» que estarían disponibles en la fecha señalada en el producto) 

    ¿Hacen envíos?
    Sí, por medio de Transporte de carga, Bus, Oca, Correo Argentino, o por donde elija o más le convenga al cliente. El costo del envío lo abona el cliente al recibir el producto en caso de que el servicio lo permita. De lo contrario el cliente lo tendrá que abonar previamente.

    ¿Son precios Finales o más IVA?
    Todos los precios son finales con IVA incluido.

    ¿Entregan factura y garantía?
    En todas las ventas que realizamos se entrega factura electrónica fiscal. Bajo ningún concepto ni excepción realizamos ventas sin factura.
    La garantía de todos los productos es de 12 meses, salvo algunos perifericos que tienen 3 meses. (Procesadores, Mothers Gigabyte y Asus tienen 36 meses de garantía)

    ¿Necesito un presupuesto, cómo hago?
    Desde nuestra web podés hacer clic en la imagen ‘Arma tu PC’ y seleccionar los componentes, y el sistema va sumando los productos. También tenemos varias configuraciones de PC bajo la solapa Computadoras. De tener alguna duda sobre los componentes o no estás familiarizado sobre el armado de una PC, siempre podés consultarnos para solicitar un presupuesto personalizado.

    ¿Cuáles son los horarios de atención?
    Los horarios de atención son de lunes a viernes de 8:30 a 17hs, y sábados de 9 a 12:30hs.

    ¿Puedo ir a local a retirar mi compra personalmente o enviar a alguien?
    Sí, podés retirar tu compra personalmente o enviar a alguien. En caso de que la compra este previamente paga, la persona que retire el o los productos, tendrá que brindar los datos del pedido y su DNI (que es el único documento válido) para retirar.

    ¿Como realizo un pedido?
    Para armar un pedido simplemente agregar los productos al carro de compras y al finalizar pones comprar elegís el medio de pago.

    ¿Hacen factura A? ¿Cómo la solicito?
    Si, por supuesto. En las observaciones del pedido tendrás aclarar que es con factura A y deberás enviar el número de CUIT correspondiente.
</div>

<%- include('partials/footer') %>