<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupo 1 - Talabartería</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e71094d6fb.js"></script>

  </head>
  <body>
  
  <!--  Encabezado-->
  
    <header class="main-header">
      
    <!-- Logo -->

      <a class="navbar-brand logo" href="/">El Palenque</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></ span>
      </button>

      <!-- Buscador -->
      <div class="buscador">
        <form>
          <input type="text" name="search" placeholder="Ando buscando..." />
          <input type="submit" name="submit" value="Buscar" class="btn btn-secondary" />
        </form>
      </div>

      <!-- Carrito -->
      <div class="cart-container">
        <button class="btn btn-secondary cart"  type="button" data-toggle="collapse" data-target="#show-cart">
          <img src="/images/cart.png" alt="Carrito" />
        </button>
        <div class="cart-products collapse" id="show-cart"><!-- hidden-->
            <div class="cart-product">
                <img src="https://via.placeholder.com/20" alt="Producto1"  />
                <div class="cart-product-info">
                    <span class="cantidad">1</span>
                    <p>Producto1</p>
                    <p>$50,00</p>
                    <p class="cambiar-cantidad">
                        <button>-</button>
                        <button>+</button>
                    </p>
                    <p class="cart-product-delete">
                        <button>Eliminar</button>
                    </p>
                </div>
            </div>

        </div>
      
      </div>
  
    </header>

    <!--  Navbar -->
    
      <nav class="navbar navbar-custom navbar-expand-lg navbar-dark">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggler" aria-controls="nav-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="nav-toggler">
      <ul class="navbar-nav w-100 justify-content-around">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" 
          href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inicio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/carga">Cargar producto</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Talabartería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Marroquinería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Platería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Vestimenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Calzado</a>
        </li>
      </ul>
    </div>
 

    </nav><!-- Fin Navbar -->
   




    <!-- Carousel-->

    <div id="carousel-promociones" class="carousel slide" data-ride="carousel" data-pause="hover">
        <div class="carousel-inner list-promociones">
          <div class="carousel-item active">
            <h2>ESTA ES LA PROMO #1</h2>
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <em>oferta del mes</em>
          </div>
          <div class="carousel-item">
              <h2>ESTA ES LA PROMO #2</h2>
              <!-- <img src="..." class="d-block w-100" alt="..."> -->
              <em>oferta del mes</em>
          </div>
          <div class="carousel-item">
              <h2>ESTA ES LA PROMO #3</h2>
              <!-- <img src="..." class="d-block w-100" alt="..."> -->
              <em>oferta del mes</em>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-promociones" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-promociones" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
 <!-- Fin Carousel-->

 
 <!-- Filtros -->
   <div class="row">
        <div class="filtros-container col-2">
          <div class="titulo-filtros">
            <p>Filtrar por:</p>
          </div>
          <div class="filtro">
            <p>Categoría</p>
            <div class="caja-filtro">
             <input type="checkbox" id="talabarteria" name="categoria"/>
             <label for="talabarteria">Talabartería</label><br>
             <input type="checkbox" id="marroquineria" name="categoria"/>
              <label for="marroquineria">Marroquinería</label><br>
            </div>
          </div>
          <div class="filtro">
            <p>Precio</p>
            <div class="caja-filtro">
                <input type="radio" id="rango1" name="rango" />
                <label for="rango1">$0-$1.000</label><br>
                <input type="radio" id="rango2" name="rango" />
                <label for="rango2">$1.000-$5.000</label><br>
               

            </div>
          </div>
          <div class="filtro">
            <p>Marca</p>
            <div class="caja-filtro">
                <input type="checkbox" id="mustad" name="marca"/>
                <label for="mustad">Mustad</label><br>
                <input type="checkbox" id="lamartina" name="marca"/>
                 <label for="lamartina">La Martina</label><br>
              
            </div>
          </div>
        </div>
      
    

    <!-- Product List -->

     
        <div class="product-container col-lg-7">
          <div class="row">
                <!-- Producto -->
                <div class="card product">
                    <a href="/detalle">
                    <img src="https://via.placeholder.com/50" class="card-img-top" alt="Producto1"/>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Silla de Montar</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur laborum fuga mollitia ab optio corporis amet, voluptatibus veniam, inventore doloremque nesciunt impedit cum ratione, neque architecto assumenda odio! Debitis, officiis.</p>
                        <p class="card-text">$2.500,00 / Unidad</p>
                        <button type="button" class="btn btn-primary btn-cart" >
                        Añadir al carrito
                        </button>
                    </div>
                </div>

                <!-- Producto -->
                <div class="card product">
                  <a href="/detalle">
                  <img src="https://via.placeholder.com/50" class="card-img-top" alt="Producto1"/>
                  </a>
                  <div class="card-body">
                      <h5 class="card-title">Silla de Montar</h5>
                      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur laborum fuga mollitia ab optio corporis amet, voluptatibus veniam, inventore doloremque nesciunt impedit cum ratione, neque architecto assumenda odio! Debitis, officiis.</p>
                      <p class="card-text">$2.500,00 / Unidad</p>
                      <button type="button" class="btn btn-primary btn-cart" >
                      Añadir al carrito
                      </button>
                  </div>
              </div>

              <!-- Producto -->
              <div class="card product">
                <a href="/detalle">
                <img src="https://via.placeholder.com/50" class="card-img-top" alt="Producto1"/>
                </a>
                <div class="card-body">
                    <h5 class="card-title">Silla de Montar</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur laborum fuga mollitia ab optio corporis amet, voluptatibus veniam, inventore doloremque nesciunt impedit cum ratione, neque architecto assumenda odio! Debitis, officiis.</p>
                    <p class="card-text">$2.500,00 / Unidad</p>
                    <button type="button" class="btn btn-primary btn-cart" >
                    Añadir al carrito
                    </button>
                </div>
            </div>

            <!-- Producto -->
            <div class="card product">
              <a href="/detalle">
              <img src="https://via.placeholder.com/50" class="card-img-top" alt="Producto1"/>
              </a>
              <div class="card-body">
                  <h5 class="card-title">Silla de Montar</h5>
                  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur laborum fuga mollitia ab optio corporis amet, voluptatibus veniam, inventore doloremque nesciunt impedit cum ratione, neque architecto assumenda odio! Debitis, officiis.</p>
                  <p class="card-text">$2.500,00 / Unidad</p>
                  <button type="button" class="btn btn-primary btn-cart" >
                  Añadir al carrito
                  </button>
              </div>
            </div>
                
         
          
        </div>

      </div>

    <!-- Login-->
    <aside class="col-3 mt-5 login">

       
            <h3>Ingresar</h3>
          
            <div class="row">
              
                <div class="card signin">
                  <div class="card-body">
          
                    <form class= "action="/" method="POST">
                      <div class="col-12 form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="username">
                      </div>
                      <div class="col-12 form-group">
                        <label for="password">Clave</label>
                        <input type="password" class="form-control" name="password">
                      </div>
                      <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
          
                  </div>
                </div>
            
            </div>

            <div id="forgot">
              <a href="#">¿Olvidó su clave?</a>
            </div>

            <div class="registro text-center">
            <a class="btn btn-primary" href="/registro" role="button">Registrarse</a>
            </div>
            <br>
            <div class="registro text-center">
              <a class="btn btn-primary" href="/carga" role="button">Carga de producto</a>
              </div>
    </aside>
  
  
  </div>
  <!-- Fin Central-->

  <!-- Footer -->
  <footer>
    <br>
    <div class="row">
      <p class="col-12 text-center">
        Copyright © 2019 Talabartería El Palenque. Todos los Derechos Reservados.
      </p>
      <p class="col-12 text-center">
        El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Talabartería El Palenque. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en www.elpalenque.com.ar son válidos exclusivamente para la compra vía internet en la página antes mencionada.
      </p>
    </div>
  </footer>
  
</body>
</html>
