<%- include('partials/header') %>
    <br>
    <!-- Titulo -->
    <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Registro de nuevo usuario</h1>
      </div>
    </div>
    <br>
    <!-- Formulario -->
    <form action=”validar.php” method=”POST” class='container'> 

        <!-- Nombre -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for=”nombre” class='label-registro'> Nombre </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type=”text” name=”nombre” id=”nombre” class='form-control' placeholder="Juan">
            </div>
        </div>
        <br>
        <!-- Apellido -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for=”apellido” class='label-registro'> Apellido </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type=”text” name=”apellido” id=”apellido” class='form-control' placeholder="Perez">
            </div>
        </div>
        <br>
        <!-- Email -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for=”email” class='label-registro'> E-mail </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type=”email” name=”email” id=”email” class='form-control'   placeholder="ejemplo@ejemplo.com">
            </div>
        </div>
        <br>
        <!-- Calle -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for=”calle” class='label-registro'> Calle </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type=”text” name=”calle” id=”calle” class='form-control' placeholder="Lima">
            </div>
        </div>
        <br>
        <!-- Numero de Calle -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for=”calleNumero” class='label-registro'> Numero </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type=”number” name=”calleNumero” id=”calleNumero” class='form-control' placeholder="1234">
            </div>
        </div>
        <br>
        <!-- Piso. Departamento -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2 text-right">
              <label for='piso'class='label-registro'> Piso. Departamento </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type='text' name='piso' id='piso' class='form-control' placeholder="4B">
            </div>
        </div>
        <br>
        <!-- Localidad -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for='localidad' class='label-registro'> Localidad </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type='text' name='localidad' id='localidad' class='form-control' placeholder="Capital Federal">
            </div>
        </div>
        <br>
        <!-- Provincia -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for='provincia' class='label-registro'> Provincia </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type='text' name='provincia' id='provincia' class='form-control' placeholder="Buenos Aires">
            </div>
        </div>
        <br>
        <!-- Pais -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for='pais' class='label-registro'> País </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type='text' name='pais' id='pais' class='form-control' placeholder="Argentina">
            </div>
        </div>
        <br>
        <!-- Código Postal -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2 text-right">
              <label for='postal' class='label-registro'> Cód. Postal </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type='text' name='postal' id='postal' class='form-control' placeholder="1101">
            </div>
        </div>
        <br>
        <!-- Teléfono -->
        <div class='row'>
            <div class="col-0 col-lg-3"></div>
            <div class="col-3 col-lg-2">
              <label for='telefono' class='label-registro'> Teléfono </label>
            </div>
            <div class="col-9 col-lg-3">
              <input type='tel' name='telefono' id='telefono' class='form-control is-valid' placeholder="1112345678">
            </div>
        </div>
        <br>
        <!-- Fecha de nacimiento -->
        <div class='row'>
          <div class="col-0 col-lg-3"></div>
          <div class="col-3 col-lg-2 text-right">
            <label for='nacimiento' class='label-registro'> Fecha de nacimiento </label>
          </div>
          <div class="col-9 col-lg-3">
              <input type='date' name='nacimiento' id='nacimiento' placeholder="01/01/2000" class="form-control is-invalid">
          </div>
        </div>
        <br>
        <!-- Boton -->
        <div class="row">
          <div class="col-12 col-lg-8 text-right">
              <button type=”submit” class='btn btn-success'> Enviar </button >
          </div>
        </div>
       
    </form>
    <br>
    </div>

<%- include('partials/footer') %>