<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupo 1 - Talabartería</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    </head>
<body>
  
  <!--  Encabezado-->
  
    <header class="main-header">
      <div class="container">
        <div class="row justify-content-between">
    <!-- Logo -->

      <a class="navbar-brand logo" href="/">El Palenque</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Buscador -->
      <div class="buscador align-self-center">
        <form>
          <input type="text" name="search" placeholder="Ando buscando..." />
          <input type="submit" name="submit" value="Buscar" class="btn btn-secondary" />
        </form>
      </div>

      <!-- Carrito -->
      <div class="cart-container align-self-center">
        <button class="btn btn-secondary cart"  type="button" data-toggle="collapse" data-target="#show-cart">
          <img src="/images/cart.png" alt="Carrito" />
        </button>
        <div class="cart-products collapse" id="show-cart"><!-- hidden-->
            <div class="cart-product">
                <img src="https://via.placeholder.com/20" alt="Producto1"  />
                <div class="cart-product-info">
                    <span class="cantidad">1</span>
                    <p>Producto1</p>
                    <p>$50,00</p>
                    <p class="cambiar-cantidad">
                        <button>-</button>
                        <button>+</button>
                    </p>
                    <p class="cart-product-delete">
                        <button>Eliminar</button>
                    </p>
                </div>
            </div>

        </div>
      
      </div>
      </div>
      </div>
    </header>

    <!--  Navbar -->
    
      <nav class="navbar navbar-custom navbar-expand-lg navbar-dark">
       <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggler" aria-controls="nav-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="nav-toggler">
      <ul class="navbar-nav w-100 justify-content-around">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" 
          href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inicio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/carga">Cargar producto</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Talabartería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Marroquinería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Platería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Vestimenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/detalle">Calzado</a>
        </li>
      </ul>
    </div>
 
    </div>
    </nav><!-- Fin Navbar -->
    